body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.helf-width{
    width: 50%;
    padding: 5%;
}
.helf-width img{
    width: 100%;
    border-radius: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua, white);
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 5%;
}
.about-me{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
}
.recipies{
    text-align: center;
}
.recipies p{
    text-align: justify;

}
.item-list{
    width: 23%;
    margin-left: 7%;
    margin-right: 0%;
    padding-left: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px cyan;
    margin-bottom: 150px;
}
.image-size{
    width: 90%;
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 2%;
}
footer{
    text-align: center;
    background-color: black;
}
footer h1{
    color: grey;
    padding: 30px;
}
footer p{
    color: silver;
    padding-bottom: 100px;
}
.foot-title{
    color: orange;
}
